mixin row_input(text, id_name, typ)
    .form-label-group
        input.form-control(type=typ placeholder=text required='' id=id_name)
        label(for=id_name)= text
html
    head
        meta(charset="UTF-8")
        meta(name="author" content="Carlos Cortes")
        link(rel="stylesheet" href="client/css/login.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="client/js/newUser.js")
    body
        .container
            .row
                .col-sm-9.col-md-7.col-lg-5.mx-auto
                    .card.card-signin.my-5
                        .card-body
                            h5.card-title.text-center Create Account
                            .form-signin
                                +row_input('Email Address', 'inputEmail', 'text')
                                +row_input('Password', 'inputPassword', 'text')
                                +row_input('Re-Enter Password', 'inputRePassword', 'text')
                                .custom-control.custom-checkbox.mb-3
                                    input#isActive.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='isActive') Is Active
                                +row_input('First Name', 'firstName', 'text')
                                +row_input('Last Name', 'lastName', 'text')
                                +row_input('Age', 'age', 'number')
                                +row_input('Eye Color', 'eyeColor', 'text')
                                +row_input('Balance', 'balance', 'text')
                                +row_input('Company', 'company', 'text')
                                +row_input('Phone', 'phone', 'text')
                                +row_input('Address', 'address', 'text')

                                button#SignUp.btn.btn-lg.btn-primary.btn-block.text-uppercase Sign Up!

            #modal1.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#modalTitle1.modal-title Sign Up Failed!
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        #modalBody1.modal-body body
                        .modal-footer
                            button.btn.btn-danger(type='button' data-dismiss='modal') Close
            #modal2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#modalTitle2.modal-title Please Confirm
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        #modalBody2.modal-body Please confirm that you want to create an account with us!
                        .modal-footer
                            button.btn.btn-danger(type='button' data-dismiss='modal') No
                            button#signUpConfirm.btn.btn-success(type='button' data-dismiss='modal') Yes
            #modal3.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#modalTitle3.modal-title Success!!!!
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        #modalBody3.modal-body You have successfully created your account!
                        .modal-footer
                            button#signUpRedirect.btn.btn-secondary(type='button' data-dismiss='modal') Close
